@font-face {
    font-family: "web-font";
    src: url("/assets/font.ttf");
    font-display: fallback;
}

html,
body {
    height: 100%;
    margin: 0;
}

.left-margin-6px {
    margin-left: 6px;
}

.right-margin-6px {
    margin-right: 6px;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-24px {
    font-size: 24px;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mlr-auto {
    margin-left: auto;
    margin-right: auto;
}

.display-inline {
    display: inline;
}

.display-flex {
    display: flex;
}

.content-container {
    padding: 20px;
    padding-bottom: 66px;
    font-family: web-font, system-ui;
}

code {
    border-radius: 10px;
}

mjx-container {
    text-align: unset !important;
    margin-left: 0 !important;
}

blockquote {
    border-left: 5px solid gainsboro;
    padding-left: 5px;
}

img {
    vertical-align: bottom;
    max-width: 100%;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border: 2px solid gray;
    padding: 5px;
}

.language-tag {
    line-height: 31px;
    font-family: monospace;
}

.hljs-ln,
.hljs-ln-numbers,
.hljs-ln-code,
.hljs-ln>tbody,
.hljs-ln>tbody>tr {
    border: none;
}

.hljs-ln-numbers {
    text-align: center;
    font-family: monospace;
    border-right: 2px solid #CCC;
    padding-right: 5px !important;
}

.hljs-ln-code {
    padding-left: 5px !important;
}

@media (prefers-color-scheme: light) {
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: #555;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #aaa;
    }
}