@font-face {
    font-family: "web-font";
    src: url("/assets/font.ttf");
}

html,
body {
    height: 100%;
    margin: 0;
}

.left-margin-6 {
    margin-left: 6px;
}

.right-margin-6 {
    margin-right: 6px;
}

.font-size-24px {
    font-size: 24px;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mlr-auto {
    margin-left: auto;
    margin-right: auto;
}

.display-inline
{
    display: inline;
}

.content-container {
    padding-bottom: 66px;
    font-family: web-font, system-ui;
}